th   {font-size:39px;}
body {background-color:#ffffcc;}
a:link {color:black; text-decoration:none;}
a:visited {color:black; text-decoration:none;}
a:hover {color:red; text-decoration:none;}
img {height:140px; width:140px; margin-top:5px;}
